@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply text-[62.5%];
}
body {
  @apply text-[1.6rem] bg-white-10;
}
.card {
  @apply p-10 rounded-3xl bg-white;
}
.btn {
  @apply px-10 py-5 rounded-xl;
}
.btn-primary {
  @apply bg-primary-100;
}
.sc::-webkit-scrollbar{
  width: 0.1rem;

}
.sc::-webkit-slider-thumb{
  background: transparent;
}
.sc::-webkit-scrollbar-track{
background: transparent;
}

